.flashes {
   background-image: linear-gradient(#ff008c,#ff4747);
   width: 300px;
   padding: 1%;
   text-align: center;
   font-family: sans-serif;
   animation: move_anim 300ms steps(100, end);
}

.flashes::before {
   content: "Ouch! ";
   font-weight: bold;

}

.flashes::after {
   content: " 🤒";
}

.flashes:hover{
   background-image: linear-gradient(#fb004f,#fd4d4d);
}

@keyframes move_anim {
   from {
     width: 0ch;
   }
   to {
     width: 300px;
   }
 }