<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<form action="/{{pizza[0]}}/edit/" method="post">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input  class="form-control" name="name" id="exampleFormControlInput1" placeholder="{{pizza[1]}}">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" name="description" id="exampleFormControlTextarea1" placeholder="{{pizza[2]}}" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

</html>